<%- include('includes/nav') %>
<%- include('includes/head') %>
<div class="container">
  <div class="col-lg">

    <div class="col-lg my-3">
      <h1 class="display-1 text-center">Erro 404!</h1>
      <p class="text-center lead">A Pagina que Você procura não existe</p>
    </div>
  </div>
</div>
<%- include('includes/footer') %>